@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
 * {
	 box-sizing: border-box;
}
 html, body {
	 overflow-x: hidden;
	 font-family: "Open Sans", sans-serif;
	 color: #fff;
	 background: #000;
}
 .row {
	 margin: 0 auto;
	 background: #000;
	 position: relative;
	 z-index: 1;
	 text-align: center;
}
 .row:before {
	 position: absolute;
	 content: "";
	 display: block;
	 top: 0;
	 left: -6000px;
	 height: 100%;
	 width: 15000px;
	 z-index: -1;
	 background: inherit;
}
 .row:first-child {
	 padding: 40px 30px;
}
 .row span {
	 position: relative;
	 display: inline-block;
	 margin: 30px 10px;
}
 .input-slide {
	 display: inline-block;
	 width: 215px;
	 padding: 14px 0 14px 15px;
	 font-family: "Open Sans", sans;
	 font-weight: 400;
	 color: rgb(29, 29, 29);
   font-size: 14px;
	 background: #efefef;
	 border: 0;
	 border-radius: 3px;
	 outline: 0;
	 text-indent: 70px;
	 transition: all 0.3s ease-in-out;
}
 .input-slide::-webkit-input-placeholder {
	 color: #efefef;
	 text-indent: 0;
	 font-weight: 300;
}
 .input-slide + label {
	 display: inline-block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 padding: 13px 15px;
	 text-shadow: 0 1px 0 rgba(47, 47, 47, 0.4);
	 background: #ff8046;
	 transition: all 0.3s ease-in-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
}
 .input-slide:focus, .input-slide:active {
	 color: #333534;
	 text-indent: 0;
	 background: #fff;
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .input-slide:focus::-webkit-input-placeholder, .input-slide:active::-webkit-input-placeholder {
	 color: #aaa;
}
 .input-slide:focus + label, .input-slide:active + label {
	 transform: translateX(-100%);
}
